<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.click_up">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_clickup"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_main_clickup_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Click_up_Final"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <activity
            android:name="com.example.click_up.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.FriendChatActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.OpenChatMakeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.ReportActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.FriendInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.ChatActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.OpenChatActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.UserProfileChangeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.PostActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.WriteActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.FootprintActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.RequestFriendActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name="com.example.click_up.MyFriendActivity"
            android:exported="false" />
        <activity android:name="com.example.click_up.PostMapActivity"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false"/>
        <activity android:name=".PasswordFindActivity"
            android:exported="false"/>
        <activity
            android:name="com.example.click_up.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.kakao.sdk.AppKey"
            android:value="67f8ce698f36040492776e1fc95654ba"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.click_up.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>

        <service
            android:name="com.example.click_up.MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>